#todo-wrapper{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    border-top: 3px solid #03a9f4;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    color: #333
}
@media(max-width: 768px){
    #todo-wrapper{
        width: 80%
    }
}
#todo-list h3{
    text-align: center;
    color: rgb(143, 139, 139)
}
#todo-list ul{
    list-style-type: none;
    padding: 0
}